@model WebApplication7.Models.DoiBong

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Section Title -->
<div class="section-title-team">
    <div class="container">
        <div class="row">
            <div class="col-xl-7">
                <div class="row">
                    <div class="col-md-3">
                        <img src="@Html.DisplayFor(model => model.LoGo)" alt="">
                    </div>

                    <div class="col-md-9">
                        <h1>@Html.DisplayFor(model => model.TenClb)</h1>
                        <ul class="general-info">
                            <li><h6><strong>Năm thành lập: </strong> @Html.DisplayFor(model => model.NamThanhLap)</h6></li>
                            <li><h6><strong>Quốc gia: </strong>@Html.DisplayFor(model => model.QuocGia)</h6></li>
                            <li>
                                <h6>
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                    <a href="#" target="_blank">www.CLB.com</a>
                                </h6>
                            </li>
                        </ul>

                        <ul class="social-teams">
                            <li>
                                <div>
                                    <a href="#" class="facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="#" class="twitter-icon">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="#" class="youtube">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-image-team" style="background:url(@Html.DisplayFor(model => model.LoGo));"></div>
</div>
<!-- End Section Title -->
<!-- Section Area - Content Central -->
<section class="content-info">

    <!-- Single Team Tabs -->
    <div class="single-team-tabs">
        <div class="container">
            <div class="row">
                <!-- Left Content - Tabs and Carousel -->
                <div class="col-xl-12 col-md-12">
                    <!-- Nav Tabs -->
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#hlvv" data-toggle="tab">Huấn luyện viên</a></li>
                        <li><a href="#squad" data-toggle="tab">Cầu thủ</a></li>
                    </ul>
                    <!-- End Nav Tabs -->
                </div>

                <div class="col-lg-12 padding-top-mini">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                            <li><a href="@Url.Action("ListDoiBong","DoiBong")">Đội bóng</a></li>
                            <li>Details @Html.DisplayFor(model => model.TenClb)</li>
                        </ul>
                    </div>
                    <!-- Content Tabs -->
                    <div class="tab-content">
                        <!-- Tab Two - squad -->
                        <div class="tab-pane" id="squad">
                            <div class="row">
                                <!-- Item Player -->
                                @{ 
                                    Random rd = new Random();
                                }
                                @foreach (var item in ViewBag.CT as IEnumerable<WebApplication7.Models.CauThu>)
                                {
                                    <div class="col-xl-4 col-lg-6 col-md-6">
                                        <div class="item-player">
                                            <div class="head-player">
                                                <img src="@item.HinhAnh" alt="location-team">
                                                <div class="overlay"><a href="single-player.html">+</a></div>
                                            </div>
                                            <div class="info-player">
                                                <span class="number-player">
                                                    @{ 
                                                        int i = rd.Next(1, 99);
                                                    }
                                                    @i
                                                </span>
                                                <h4>
                                                    @item.TenCauThu
                                                    <span>@item.ViTri</span>
                                                </h4>
                                                <ul>
                                                    <li>
                                                        <strong>Chiều cao</strong> <span>@item.ChieuCao </span>
                                                    </li>
                                                    <li><strong>Năm sinh:</strong> <span>@item.NamSinh</span></li>
                                                    <li><strong>Quốc tịch:</strong> <span>@item.QuocTich</span></li>
                                                </ul>
                                            </div>
                                            <a href="@Url.Action("Details","CauThu", new {id = item.IdCauThu})" class="btn">Chi tiết cầu thủ <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                }
                                <!-- End Item Player -->
                            </div>
                        </div>
                        <!-- End Tab Two - squad -->
                        <!-- Tab Theree - fixtures -->
                        <!-- Item Coach -->
                        <div class="tab-pane active" id="hlvv">
                            <div class="row">
                                @foreach (var item in ViewBag.HLV as IEnumerable<WebApplication7.Models.BanHuanLuyen>)
                                {
                                    <div class="col-xl-4 col-lg-6 col-md-6">
                                        <div class="item-player">
                                            <div class="head-player">
                                                <img src="@item.HinhAnh" alt="location-team">
                                                <div class="overlay"><a href="@Url.Action("Details","HLV", new {id = item.IdHlv})">+</a></div>
                                            </div>
                                            <div class="info-player">
                                                <h4>
                                                    @item.TenHlv
                                                    <span></span>
                                                </h4>
                                                <ul>
                                                    <li>
                                                        <strong>Chức vụ</strong> <span> @item.ChucVu </span>
                                                    </li>
                                                    <li><strong>Năm sinh:</strong> <span>@item.NamSinh</span></li>
                                                    <li><strong>Quốc tịch:</strong> <span>@item.QuocTich</span></li>
                                                </ul>
                                            </div>
                                            <a href="@Url.Action("Details","HLV", new {id = item.IdHlv})" class="btn">Chi tiết huấn luyện viên <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <!-- End Item Coach -->
                    </div>
                    <!-- Content Tabs -->
                </div>

            </div>
        </div>
    </div>
    <!-- Single Team Tabs -->
</section>
<!-- End Section Area -  Content Central -->
