@model WebApplication7.Models.DoiBong

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đội bóng</title>
    <style>
        .wrapp {
            width: 90%;
            height: 600px;
            margin-top: 10px;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
        }

        .photo {
            width: 50%;
            height: 400px;
            float: left;
            margin-top: 40px;
        }

        .wrapp-table {
            width: 50%;
            height: 500px;
            float: left;
            margin-top: 100px;
            padding-left:10%;
        }

        table {
            width: 90%;
            height: 200px;
            margin-left: 10%;
        }
        /** css title*/
        .wrapp-title{
            width:100%;
            height:auto;
            background-color:aquamarine;
        }
        .title1 {
            width: 40%;
            height: 2px;
            border: solid 1px black;
            float: left;
        }
        .title2 {
            width: 20%;
            float: left;
        }
        .title3 {
            width: 40%;
            height: 3px;
            border: solid 1px black;
            float: left;
        }
    </style>
</head>

<div>
    <div>

        <div class="wrapp">
            <div style="height:25px"></div>
            <div>
                <h2 style="text-align:center;font-style:normal;">
                    <b>Thông Tin Chi Tiết</b>
                </h2>
            </div>
            <div class="photo">
                <img src="@Html.DisplayFor(model => model.LoGo)" width="400px" height="400px"
                     style="background-position: center center;background-repeat: no-repeat;display: block;
                    margin-left: auto;margin-right: auto;object-fit: contain;" />
                <h3 style="text-align:center; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; margin-top:30px">Hình ảnh</h3>
            </div>
            <div class="wrapp-table">
                <table>
                    <tr>
                        <th>
                            ID
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.IdClb)

                        </td>
                    </tr>
                    <tr>
                        <th>
                            Tên Câu Lạc Bộ
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.TenClb)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Quốc Gia
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.QuocGia)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Năm thành lập
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.NamThanhLap)
                        </td>
                    </tr>

                </table>
                <table>
                    <tr>
                        <td style="text-align: left;">
                            <p class="btn btn-success">@Html.ActionLink("Huấn Luyện Viên", "QuanLyHLV", new { id = Model.IdClb })</p>
                        </td>
                        <td style="text-align: left;">
                            <p  class="btn btn-success">@Html.ActionLink("Cầu Thủ", "CauThuCLB", new { id = Model.IdClb })</p>
                            
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        
    </div>
    
</div>
<p class="btn btn-default" style="margin-top: 10px; text-align: right; margin-right: 200px">
    @Html.ActionLink("Trở lại", "ListDoiBong")
</p>
