@model IEnumerable<WebApplication7.Models.DoiBong>

@{
    ViewBag.Title = "ListDoiBong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- section-hero-->
<div class="hero-header hero-bg" style="background: url(https://wallpaperaccess.com/full/1348783.jpg); height: 800px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 no-margin align-self-center">
                <h1>FOOTBALL CLUP</h1>
            </div>

        </div>
    </div>
</div>
<!-- End section-hero-->

<!-- Section Area - Content Central -->
<section class="content-info">
    <div class="container padding-top">
        <div class="breadcrumbs">
            <ul>
                <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li>Danh sách đội bóng</li>
            </ul>
        </div>
        <div class="row portfolioContainer">

            @foreach (var item in Model)
            {
                <!-- Item Team Group A-->
                <div class="col-md-6 col-lg-4 col-xl-3 group-a">
                    <div class="item-team">
                        <div class="head-team">
                            <img src="@Html.DisplayFor(modelItem => item.LoGo)" alt="location-team">
                            <div class="overlay"><a href="@Url.Action("Details", "DoiBong" ,new { id = item.IdClb})">+</a></div>
                        </div>
                        <div class="info-team">
                            <span class="logo-team">
                                <img src="@Html.DisplayFor(modelItem => item.LoGo)" alt="logo-team">
                            </span>
                            <h4>@Html.DisplayFor(modelItem => item.TenClb)</h4>
                            <span class="location-team">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                @Html.DisplayFor(modelItem => item.QuocGia)
                            </span>
                            <span class="group-team">
                                <i class="fa fa fa-star-o" aria-hidden="true"></i>
                                @Html.DisplayFor(modelItem => item.NamThanhLap)
                            </span>
                        </div>
                        <a href="@Url.Action("Details", "DoiBong" ,new { id = item.IdClb})" class="btn">Chi tiết đội bóng<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <!-- End Item Team Group A-->
            }
        </div>
    </div>
</section>
<!-- End Section Area -  Content Central -->