@model IEnumerable<WebApplication7.Models.DoiBong>

@{
    ViewBag.Title = "ListDoiBong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListDoiBong</h2>

<p>
    @Html.ActionLink("Create New", "CreateDoiBong")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdClb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenClb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuocGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoGo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NamThanhLap)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdClb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenClb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuocGia)
        </td>
        <td>
            <img alt="Qries" src="@Html.DisplayFor(modelItem => item.LoGo)"
                 width="90" height="70">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NamThanhLap)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
