@model WebApplication7.Models.CauThu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Section Area - Content Central -->
<section class="content-info">

    <!-- Single Team Tabs -->
    <div class="single-player-tabs">
        <div class="container">
            <div class="breadcrumbs padding-top-mini">
                <ul>
                    <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li><a href="@Url.Action("Index","CauThu")">Cầu thủ</a></li>
                    <li>Details cầu thủ @ViewBag.CT.TenCauThu</li>
                </ul>
            </div>
            <div class="row">
                <!-- Side info single team-->
                <div class="col-6 mx-auto">

                    <div class="item-player single-player">
                        <div class="head-player" style="max-height: 300px;">
                            <img src="@ViewBag.CT.HinhAnh" alt="location-team">
                        </div>
                        <div class="info-player">
                            <h4>
                                @ViewBag.CT.TenCauThu
                            </h4>
                            <ul>
                                <li>
                                    <strong>Câu lạc bộ:</strong> <span><img src="@ViewBag.CLB.LoGo" alt=""> @ViewBag.CLB.TenClb </span>
                                </li>
                                <li><strong>Quốc tịch:</strong> <span>@ViewBag.CT.QuocTich</span></li>
                                <li><strong>Năm sinh:</strong> <span>@ViewBag.CT.NamSinh</span></li>
                                <li><strong>Giới tính:</strong> <span>@ViewBag.CT.GioiTinh</span></li>
                                <li><strong>Vị trí:</strong> <span>@ViewBag.CT.ViTri</span></li>
                                <li><strong>Chiều cao:</strong> <span>@ViewBag.CT.ChieuCao cm</span></li>
                                <li><strong>Cân nặng:</strong> <span>@ViewBag.CT.CanNang kg</span></li>
                            </ul>

                            <h6>Theo dõi @ViewBag.CT.TenCauThu</h6>

                            <ul class="social-player">
                                <li>
                                    <div>
                                        <a href="#" class="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a href="#" class="twitter-icon">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a href="#" class="youtube">
                                            <i class="fa fa-youtube"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end Side info single team-->


            </div>
        </div>
    </div>
    <!-- Single Team Tabs -->
</section>
<!-- End Section Area -  Content Central -->