@model IEnumerable<WebApplication7.Models.CauThu>
@{
    ViewBag.Title = "ListDoiBong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- section-hero-->
<div class="hero-header hero-bg" style="        background: url(https://www.wallpaperkiss.com/wimg/b/133-1331284_big.jpg);
        height: 800px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 no-margin align-self-center">
                <h1>FOOTBALL CLUP</h1>
            </div>

        </div>
    </div>
</div>
<!-- End section-hero-->
<!-- Section Area - Content Central -->
<section class="content-info">
    <div class="container padding-top">
        <div class="breadcrumbs">
            <ul>
                <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li>Danh sách cầu thủ</li>
            </ul>
        </div>
        <div class="row portfolioContainer">

            @foreach (var item in Model)
            {
                <!-- Item Team Group A-->
                <div class="col-md-6 col-lg-4 col-xl-3 group-a">
                    <div class="item-team">
                        <div class="head-team">
                            <img src="@Html.DisplayFor(modelItem => item.HinhAnh)" alt="location-team">
                            <div class="overlay"><a href="@Url.Action("Details", "CauThu" ,new { id = item.IdCauThu})">+</a></div>
                        </div>
                        <div class="info-team">                           
                            <h4>@Html.DisplayFor(modelItem => item.TenCauThu)</h4>
                            <span class="location-team">
                                <i class="fa fa-map-marker" aria-hidden="true"><span> Quốc tịch:</span></i>
                                @Html.DisplayFor(modelItem => item.QuocTich)
                            </span>
                            <span class="group-team">
                                <i class="fa fa fa-star-o" aria-hidden="true"><span> Năm sinh</span></i>
                                @Html.DisplayFor(modelItem => item.NamSinh)
                            </span>
                        </div>
                        <a href="@Url.Action("Details", "CauThu" ,new { id = item.IdCauThu})" class="btn">Chi tiết cầu thủ<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <!-- End Item Team Group A-->
            }
        </div>
    </div>
</section>
<!-- End Section Area -  Content Central -->