@model WebApplication7.Models.BanHuanLuyen

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BanHuanLuyen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdHlv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdHlv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenHlv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHlv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuocTich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuocTich)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamSinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamSinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChucVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChucVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdClb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdClb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
